*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

dist
dist-mac

# Dependency directories
node_modules/
jspm_packages/
.npm
.eslintcache
.yarn-integrity

package-lock.json
discard/**/*.*

.DS_Store
**/.DS_Store
models/**/*.*

TABNINE.md

certificate.p12
./discard


resources/locations/worldcities.csv
