/* css for multiselect component */
.multiSelectContainer {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    border: 1px solid #ccc;
    position: relative;
    padding: 25px 0 2px 0;
}
.multiSelectSearch {
    position: absolute;
    width: 100%;
    top: 0;
}

.multiSelectList {
    display: flex;
    margin: 5px;
    flex-direction: column;
    overflow-y: auto;
    max-height: max(150px, 25vh);
    min-height: min(200px, 20vh);
    li {
        width: 100%;
        padding: 5px 4px 5px 6px;
        vertical-align: middle;
        display: flex;
        &:hover {
            background-color: var(--default-hover-bg-color);
        }
    }
}
