.icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    & svg {
        width: 24px;
        height: 24px;
        fill: var(--icon-button-fill-color);
    }
    &:hover svg {
        fill: var(--icon-button-fill-highlight-color);
    }
}
.inlineIcon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    & svg {
        width: 16px;
        height: 16px;
        fill: var(--icon-fill-color);
    }
}
