audio::-webkit-media-controls-panel {
    background-color: var(--audio-player-bg-color);
}
.audioPlayer {
    width: 100%;
}
.audioPlayerWrapper {
    padding-bottom: 15px;
}
.nsfwMessageWrapper {
    width: 100%;
    text-align: center;
    border-radius: 6px;
}
.nsfwMessage {
    margin: 0 auto 10px;
}
